@model prjMeetingRoomBooking.ViewModels.CBooking

@{
    ViewData["Title"] = "會議室預約系統";
    Layout = "_Layout";
}
@section Styles{
    <style>
        .mb20 {
            margin-bottom: 20px;
        }

        form input.inline {
            width: 50%;
            display: inline;
        }

        form select.inline {
            width: 49%;
            display: inline;
        }

        form label.inline {
            display: inline;
            font-weight: bold;
        }

        .row > div {
            margin: 30px auto;
        }

        .btnDiv {
            display: flex;
            flex-direction: row-reverse;
        }

        .btn {
            margin-left: 10px;
        }

        .table {
            margin: 30px auto;
        }

        .txtTitle {
            text-align: center;
        }
    </style>
}

    <h3 class="txtTitle">新增會議室預約</h3>
    <hr />
    <div class="row">
        <div class="col-md-8 col-xl-6">
            <form asp-action="CreateNewBooking" id="NewBookingForm">               
                <div class="form-group">
                    <label class="control-label">會議室</label>
                    <select asp-for="RoomId" class="form-control selectRoom mb20"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control mb20" />                   
                </div>
                <div class="form-group">
                    <label asp-for="BookingUserId" class="control-label"></label>
                    <input asp-for="BookingUserId" class="form-control mb20" value="@ViewBag.UserId" readonly />
                </div>

                <div class="form-group">
                    <div>
                        <label asp-for="startDate" class="control-label inline"></label>                        
                    </div>
                    <div>
                        <input asp-for="startDate" class="form-control inline mb20" type="date" />
                        <input asp-for="endDate" class="form-control inline mb20" type="date" hidden />
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="startT" class="control-label inline"></label> /
                        <label asp-for="endT" class="control-label inline"></label>
                    </div>
                    <div>                        
                        <select asp-for="startT" class="form-control inline selectTime mb20"></select>
                        <select asp-for="endT" class="form-control inline selectTime mb20">
                        </select>
                    </div>

                </div>

                <div class="form-group btnDiv">                    
                    <input type="submit" id="btnSubmit" value="確認" class="btn btn-primary" />
                    <input type="reset" value="重設" class="btn btn-primary" />
                    <span class="check text-danger"></span>
                </div>
            </form>
        </div>
    </div>
    <div>
        <table class="table" name="RoomManagers">
            <thead>
                <tr>
                    <th scope="col">會議室</th>
                    <th scope="col">管理人ID</th>
                    <th scope="col">管理人姓名</th>
                    <th scope="col">可容納人數</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>



    @section Scripts {
    <script>
        $(function () {

            //日期選單預設載入今天
            let today = new Date();
            let todayYear = today.getFullYear();
            let todayMonth = (today.getMonth() + 1) < 10 ? `0${today.getMonth() + 1}` : today.getMonth() + 1;
            let todayDate = today.getDate() < 10 ? `0${today.getDate()}` : today.getDate();
            $('input[name$=Date]').val(`${todayYear}-${todayMonth}-${todayDate}`);

            //時間選單選項
            $('.selectTime').append(`
                                <option value=""></option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                    `);

            //載入會議室選項
            $.ajax({
                url: `@Url.Content("~/Booking/getAllMeetingRoomsOp")`,
                type: 'post',
                data: {},
                dataType: 'json',
                success: function (result) {
                    //console.log(result);
                    if (`${result}`.indexOf('error') == -1) {
                        let docFrag = document.createDocumentFragment();
                        $(docFrag).append(`<option></option>`);
                        $(result).each(function (i, value) {
                            $(docFrag).append(`<option value=${value.roomId} data-rid=${value.roomId}>${value.roomName}</option>`);
                        });
                        $('.selectRoom').append(docFrag);
                    }
                }
            });
            

            $('.selectRoom').change(function () {
                let roomId = $('.selectRoom>option:selected').data('rid');
                $('[name=RoomId]').val(roomId);
            });


            //載入管理人表
            $.ajax({
                url: `@Url.Content("~/Booking/getAllRoomManagers")`,
                type: 'post',
                data: {},
                dataType: 'json',
                success: function (result) {
                    //console.log(result);
                    if (`${result}`.indexOf('error') == -1) {
                        let docFrag = document.createDocumentFragment();

                        $(result).each(function (i, value) {
                            $(docFrag).append(`<tr>
                                                            <td>${value.roomName}</td>
                                                            <td>${value.managerId}</td>
                                                            <td>${value.managerName}</td>
                                                            <td>${value.size}</td>
                                                        </tr>`);
                        });
                        $('[name="RoomManagers"]>tbody').append(docFrag);
                    }
                }
            });

            $('[name=startDate]').change(function(){
                $('[name=endDate]').val($(this).val());
            });

            $('#btnSubmit').click(function(){
                event.preventDefault();
                $('span.check').text('');

                //檢查必填欄位
                let check_count=0;
                $('.mb20').each(function(i,value){
                    if($(value).val().trim() == ''){
                        $('span.check').text('請填寫所有欄位!');               
                        check_count++;
                    }
                });
                if (check_count>0){
                    check_count=0;
                    return false;
                }
                                    

                //檢查是否時間已被預約
                let FirstDay = $('[name=startDate]').val();
                let STime = $('[name=startT]').val();
                let ETime = $('[name=endT]').val();
                let RoomId = $('[name=RoomId]').val();
                $.ajax({
                    url: `@Url.Content("~/Booking/checkBookingTime")`,
                    type: 'post',
                    data: {
                        data:JSON.stringify({
                            FirstDay: FirstDay,
                            STime: STime.replace(':',''),
                            ETime: ETime.replace(':', ''),
                            RoomId: RoomId
                        })
                    },
                    dataType: 'json',
                    success: function (result) {
                        console.log(result);
                        if (`${result}`.indexOf('error') == -1) {
                            if (`${result}`=='f'){
                                alert('此時段已有預約，請另擇時段');
                            }
                            else if (`${result}` == 't'){
                                $('#NewBookingForm').submit();
                            }
                        }else
                            alert('格式錯誤');
                    }
                });
            });
        });
    </script>
}


